@model ExpertPizzaWebApp.Models.Pizza

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HasHotsauce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasHotsauce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasHam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasHam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasSausage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasSausage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasPepperoni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasPepperoni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IngredientCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IngredientCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PizzaCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PizzaId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
