@model IEnumerable<ExpertPizzaWebApp.Models.Pizza>

@{
    ViewData["Title"] = "Index";
}

<h2>Pizzas</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("SortByCheapest", "Pizzas", FormMethod.Get))
{
    <div>
        <hr />
        <input class="btn btn-default" type="submit" value="Sort by cheapest" />
        <hr />
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Hot sauce
            </th>
            <th>
                Ham
            </th>
            <th>
                Sausage
            </th>
            <th>
                Pepperoni
            </th>
            <th>
                Pizza Count
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HasHotsauce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasHam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasSausage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasPepperoni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaCount)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
